<html>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <section>
    <h1>{{ .accounts }}</h1>
  </section>

  <link rel="stylesheet" type="text/css" href="/css/base.css">

</html>
